.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    gap: 10px;
    align-items: center;
    .page-item a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
    cursor: pointer;
    }
  }
    .pagination li a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
    cursor: pointer;
    &:active {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }
  }